body
{
	background: #ffffff;
	color: #000000;
	font-family: sans;
}

div.frame
{
	background: #ffffff;
	border: 2px solid #000000;
	margin: 0 auto;
	width: 90%;
}

div.content
{
	clear: both;
	border-top: 2px solid #000000;
	padding: 4pt;
	overflow: auto;
}

div.tab
{
	float: left;
	border-left: 2px solid #000000;
	border-right: 2px solid #000000;
	border-top: 2px solid #000000;
	color: #000000;
	padding: 5pt;
	margin-left: 4pt;
	height: 20pt;
	background: #ffffff;
}

div.tab:hover
{
	background: #000000;
	color: #ffffff;
}

div.tab a
{
	color: inherit;
	text-decoration: none;
}

div.title
{
	font-size: 21pt;
	float: right;
	padding: 4pt;
	height: 20pt;
	padding-right: 6pt;
}

table.files
{
	margin: 0 auto;
	width: 98%;
}

table.files a
{
	text-decoration: none;
	color: inherit;
}

td.name
{
	color: #000000;
}

table.files th,td
{
	text-align: left;
	background: #ffffff;
	padding: 2pt;
	padding-left: 3pt;
	border-radius: 4px;
	border: 1px solid #000000;
	max-height: 500pt;
	min-width: 10pt;
	max-width: 500pt;
	word-wrap: break-word;
	
}

td.name:hover
{
	background: #000000;
	color: #ffffff;
}

table.files caption
{
	text-align: left;
	font-size: 14pt;
	padding-bottom: 8px;
	background: #ffffff;
	padding: 6pt;
	border-radius: 4px;
	font-family: mono;
	border: 2px solid #000000;
}

table.files caption a
{
	padding: 0px;
	color: #000000;
}

table.files caption a:hover
{
	color: #000000;
}

div.upload
{
	float: right;
}

div.upload input
{
	border: 1px solid #000000;
	background: inherit;
	color: #000000;
	border-radius: 4px;
}

div.chat
{
	background: #ffffff;
	padding: 4pt;
	border-radius: 4px;
	margin-bottom: 4px;
	overflow: hidden;
}

div.chat_name
{
	float: left;
	background: #ffffff;
	color: #000000;
	padding: 3pt;
	margin-right: 2pt;
	border-radius: 4px;
	width: 90pt;
	text-align: center;
	border: 1px solid #000000;
}

div.chat_name input[type="text"], div.chat_msg textarea
{
	border: 1px solid #000000;
	background: #ffffff;
	color: #000000;
}

div.chat_name input[type="button"]
{
	color: #000000;
	background: #ffffff;
	border: 1px solid #000000;
	margin-top: 6pt;
	border-radius: 4px;
	font-size: 16pt;
}

div.chat_msg
{
	float: left;
	padding-left: 8pt;
}

div.chat_time
{
	float: right;
}

div.chat_time a
{
	color: #000000;
}

div.bookmark
{
	background: #ffffff;	
	border-radius: 4px;	
	padding: 6pt;
	margin: 2pt;
	float: left;
	border: 2px solid #000000;
	color: #000000;
}

div.bookmark a
{
	color: inherit;
}
