#display
{
    float:left;
}
.panel
{
    float: left;
    border: 1px solid #999999;
    padding: 5px;
    margin-left: 5px;
}
.header
{
    vertical-align: middle;
    color: #bbbbbb;
    background: #444444;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid #666666;
    margin-bottom: 5px;
    margin-top: 5px;
}
#statusbar
{
    width: 150px;
}
#inventory
{
    width: 200px;
}
#log
{
    clear: both;
    width: 500px;
    margin-left: 0px;
    background: #333333;
    color: #999999;
}
#hp_label
{
    color: #ff5555;
}
#pw_label
{
    color: #ffff55;
}
#xp_label
{
    color: #ff77ff;
}
body
{
    background: #333333;
    color: #999999;
    font-family: Sans;
}
canvas
{
    border: 1px solid #777777;
}
hr
{
    border: none;
    border-bottom: 1px solid #777777;
}
a
{
    color: #dddddd;
    text-decoration: none;
}
a:hover
{
    text-decoration: underline;
}
input
{
    border: 1px solid #777777;
    background: #444444;
    color: #aaaaaa;
    width: 40px;
}